.LogoHeader{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
header{
    text-align: center;
    color: white;
    padding: 5rem 0 3rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.466));
   /*  margin-top: 70px;*/
    
}

header video{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;
}
hr {
height: 2px;
max-width: 100%;
border: 0;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}
h1{
    font-family: 'Merriweather', serif;
}
h2{
    font-family: 'Roboto Mono', monospace;

}