.logoSikllset{
    height: 150px;
    width: 150px;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: black;
    background: #F6FBFF;

}

#Skillset  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin: 3rem;
}

#Skillset img{
    border-radius: 1rem;
    max-width: 7rem;
    cursor:context-menu;
}
.thr {
    height: 2px;
    max-width: 100%;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));

    }

    #Skillset > div > div {
        position: relative;
      }
        
      #Skillset span {
        width: 120px;
        background-color: rgba(0,0,0,0.75);
        color: white;
        text-align: center;
        padding: 15px 0;
        border-radius: 15px;
        position: absolute;
        z-index: 1;
        top: -40px;
        left: 50%;
        opacity: 0;
        transform: translate(-60px, 10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
      }
      #Skillset > div > div:hover span {
        opacity: 1;
        transform: translate(-60px, 10px);
      }
      #Skillset span:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(0,0,0,0.75) transparent transparent transparent;
      }